@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  :root {
    @apply theme-transition;
  }
  body {
    @apply text-foreground dark:bg-black bg-primaryWhite theme-transition;
  }
  input {
    @apply bg-primaryWhite text-black placeholder:italic;
  }
}
@layer utilities {
  .theme-transition {
    --transition-duration: 0.5s;
    transition: background-color var(--transition-duration),
      color var(--transition-duration) linear !important;
  }
  .fl-itc {
    @apply flex items-center;
  }
  .primary-btn {
    @apply bg-primaryGray text-secondaryGray;
  }
  .primary-shadow {
    box-shadow: 0px 4px 4px 0px #00000040;
    @apply dark:shadow-white dark:shadow-none;
  }
  .title {
    @apply text-3xl font-semibold text-center;
  }
  .title-sm {
    @apply text-xl font-medium;
  }
}

/* ! custom theme */
@layer components {
  .container-theme {
    @apply w-[84px] h-[34px] rounded-full relative opacity-75 fl-itc p-2 justify-start transition-all dark:bg-black bg-primaryWhite  primary-shadow shadow-xl dark:shadow-none;
  }
  .container-theme[data-theme="dark"] {
    @apply justify-end;
  }
}

/* ! homepage */
@layer components {
  .hero {
    @apply relative container px-4;
  }
  .hero > img {
    @apply absolute object-cover h-[424px]  -z-10 top-0 rounded-3xl;
  }
  .hero > article {
    @apply space-y-8;
  }
  .inner-hero {
    @apply pt-28 space-y-8 pb-12  w-full mx-auto;
  }
  .inner-hero > h3 {
    @apply title pb-6 text-primaryWhite;
  }
  .container-dest {
    @apply bg-primaryClr rounded-3xl px-8 py-12 relative fl-itc flex-col justify-center w-fit mx-auto;
  }
  .container-dest > div {
    @apply w-fit;
  }
  .container-dest .inner-dest {
    @apply absolute -top-6 rounded-3xl fl-itc gap-8 left-1/2 -translate-x-1/2 w-full;
  }
  .inner-dest {
    @apply bg-primaryWhite h-[56px] w-[612px] relative text-secondaryGray;
  }
  .inner-dest > input {
    @apply w-full h-full pl-12 rounded-3xl primary-shadow;
  }
  .container-menu {
    @apply bg-primaryWhite py-2 grid grid-cols-4 rounded-3xl primary-shadow;
  }
  .input-dest {
    @apply h-[72px] w-full pl-12 fl-itc primary-shadow;
  }
  .icon-dest {
    @apply absolute left-3 text-secondaryGray;
  }
  .container-calendar,
  .second-container-calender {
    @apply bg-primaryWhite flex-1  p-4 rounded-2xl;
  }
  .container-calendar {
    @apply grid grid-cols-2;
  }
  .inner-calendar {
    @apply flex flex-col gap-1 text-xs;
  }
  .second-container-calender {
    @apply fl-itc gap-2;
  }
}
